font.location{
  color : #6600AA;
  font-style : italic;
  font-size : 24px;
}

/* the text enclosing @maaminian */
.handle{
  font-weight : bold;
}

h1.city{
  color : #000;
  font-size: 24px;
  text-decoration: underline;
  padding-bottom: 4px;
}

ol{
  font-size: 14px;
}

li{
  padding-bottom: 7px;
}

div.timestamp{
  font-size: 11px;
  color: #111;
  /*text-align: center;*/
  padding-bottom: 8px;
}
