font.location{
  color : #6600AA;
  font-style : italic;
  font-size : 24px;
}

/* the text enclosing @maaminian */
.handle{
  font-weight : bold;
}

h1.city{
  color : #000;
  font-size: 18px;
  text-decoration: underline;
  padding-bottom: 4px;
}

h1.about{
  text-decoration: underline;
  font-size: 18px;
  padding-bottom: 4px;
}

ol{
  font-size: 14px;
  padding-left: 12px;
  margin-left: 12px;
}

ol.incident_obs{
  list-style-type: lower-alpha;
}

li.incident:before{
  font-weight: bold;
}
/* alternating background? */
li.incident:nth-child(even){
  background: #f6f2fd;
}
li.incident:nth-child(odd){
  background: #e8e0ff;
}

li.row_entry{
  padding-bottom: 7px;
}

div.timestamp{
  font-size: 11px;
  color: #111;
  /*text-align: center;*/
  padding-bottom: 8px;
}

div.avbox{
  border : 2px solid #333;
  border-radius: 5px;
  background-color : #f6f2ff;
  padding-left : 14px;
  padding-right : 14px;
  padding-top : 0px;
  padding-bottom : 6px;
  margin : 25px;
  margin-right : 0px;
  width : 416px;  /* bit less than python script for this box. */
}

div.aboutbox{
  border : 2px solid #333;
  border-radius: 5px;
  background-color : #f0f0f0;
  padding : 6px;
  padding-left : 12px;
}

font.datasource{
  font-size : 16px;
  font-weight: bold;
  padding-bottom: 6px;
}

font.warning{
  font-weight:bold;
  color:#f00;
}
